---
---

@import "{{ site.theme }}";

/* https://styleguide.cpanel.net/#/color-swatches */

header {
    background: #FF6C2C;
    border-bottom: solid 1px #FF6C2C;
}

.inner::before {
    content: url("../images/logo.png");
    display: inline-block;
    position: relative;
    width: 5px;
    top: 10px;
}

body {
    font-family: open sans,sans-serif;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: montserrat,sans-serif;
    letter-spacing: -1px;
    color: #293A4A;
    margin-top: 1rem;
}

#main-content h1 {
    font-family: montserrat,sans-serif;
    color: #293A4A;
}

#main-content h2 {
    font-family: montserrat,sans-serif;
    color: #293A4A;
}

// header a.button {
//     position: absolute;
//     top: 0;
//     right: 0;
//     background:transparent url(../images/github-button.png) 0 0 no-repeat
// }

a, a:hover, a:visited, a:active {
    color: #428BCA;
}

.highlight {
    background-color: #F5F5F5;
}

pre {
    padding: 20px;
    overflow: auto;
    text-shadow: none;
    background: #F5F5F5;
    border:solid 1px #f2f2f2
}

pre code {
    padding: 0;
    color: #428BCA;
    background-color: #F5F5F5;
    border:none
}